<!-- wp:template-part {"slug":"header","theme":"meyo"} /-->

<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:template-part {"slug":"hero","theme":"meyo","area":"uncategorized"} /-->

  <!-- wp:template-part {"slug":"section-two","theme":"meyo","area":"uncategorized"} /-->

  <!-- wp:template-part {"slug":"section-three","theme":"meyo","area":"uncategorized"} /-->

  <!-- wp:template-part {"slug":"section-four","theme":"meyo","area":"uncategorized"} /-->

  <!-- wp:template-part {"slug":"section-five","theme":"meyo","area":"uncategorized"} /-->

  <!-- wp:template-part {"slug":"faq","theme":"meyo","area":"uncategorized"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"meyo"} /-->